/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1rem;
}

td, th {
    border: 1px solid var(--color-dark);
    padding: 0.6rem;
}

thead, tfoot{
    font-weight: bold;
}



table caption {
    opacity: 0.9;
    padding: 0.6rem;
}