/* Typography */

p {
}

ol, ul {

}

dl {

}

dl dt {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

blockquote {
    font-size: 150%;
}

blockquote footer {
    font-size: small;
    color: var(--color-medium);
}

abbr[title] {
    text-decoration: underline dashed;
}

cite {
    font-style: italic;
}

code, kbd, pre, samp {
    font: var(--font-mono);
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    color: var(--color-text-light);
    background-color: var(--color-bg-dark);
    border-radius: 0.2rem;
}

small {
    font-size: smaller;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: smaller;
    color: var(--color-medium);
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

var {
    font-style: italic;
}